.star_wars_searchbox {
  border: none;
  outline: none;
  padding: 1rem;
  width: 40rem;
  line-height: 3rem;
  margin-bottom: 3rem;
  text-align: center;
  font-size: 2rem;
  border-radius: 0.5rem;
}
